/*For-indstillinger*/
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit';
    text-decoration: none;

}

img {
    max-width: 100%;
}

body{
    background: #FFFFFF;
}

/*Fonts og skriftstr.*/

h1{
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
  text-align: center;
}

h2{
    font-size: 30px; 
    font-style: italic;
    font-weight: bold;
    padding-top: 3em;
    padding-left: 2em;
}

h3{
  font-size: 30px;
text-align: center;
font-weight: bold;

}

h3 p{
font-weight: lighter;
line-height: 2;
  font-size: 16px;
  padding-left: 25em;
  padding-right: 25em;
  text-align: left;
  padding-top: 2em;
}

h4{
  font-size: 30px;
  font-weight: bold;
  padding-left: 2em;
  padding-top: 10em;
}

.vores-projekter{
  padding-top: 15em;
}

.hvem-er-vi-tekst{
  width: 50vw;
  padding-left: 2em;
  padding-top: 2em;
}

/*Navigation*/

.header {
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
  }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-weight: 700;
}


.logo-container{
  display: flex;
  justify-content:center;
  align-items: center;
}


.menu {
    display: flex;
  }
  .menu a {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 700;
    transition: 0.2s all ease-in-out;
    color: black;
  }
  
  .menu a:hover {
    opacity: 1;
    color: #fff;
  }

  .menu-icon:hover{
    color: #FF8591;
  }

  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked ~ .menu {
    transform: scale(1, 1);
  }


/*Forside main*/

.stor-animation{
    display: flex;
    width: 98vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
    padding-left: 2.5em;
}

.stor-animation h1{
  padding-top: 8em;
  padding-bottom: 8em;
}

.vi-tilbyder-img{
  width: 40vw;
  height: 45vh;
  position: absolute;
  margin-left: 2em;
}

.space-peak{
  display: flex;
  justify-content: center;
  padding-top: 5em;
  padding-bottom: 5em;
}

/* EXPAND */
input[type="checkbox"] {
  display: none;
}

/* Style the label as the list item */
main li {
  list-style: none;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Style the label text and add the plus sign */
main label {
  display: block;
  cursor: pointer;
  flex: none;
  color: #FF8591;
/*
  text-shadow: -0.5px -0.5px 0 #6E0E0E, 0.5px -0.5px 0 #6E0E0E, -0.5px 0.5px 0 #6E0E0E, 0.5px 0.5px 0 #6E0E0E /* Add a stroke effect 
  */
}

main label::before {
  content: '+';
  margin-left: 0; /* Reset margin */
  display: flex;
  justify-content: flex-start;
  float: left;
  padding-right: 1em;
  color: #000000;
}

/* Hide the content by default */
.expand-content {
  display: none;
}

/* Show the content when the checkbox is checked */
input:checked + label + .expand-content {
  display: block;
}

.tekst-box-expand{
  padding-left: 3em;
}

main li p{
  font-size: 20px;
  font-weight: 100;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  /* Stack content underneath the label on smaller screens */
 main li {
    flex-direction: column;
  }

  /* Reset styles for labels and plus signs */
 main label {
    flex: none;
  }

 main label::before { 
      content: '+';
      margin-left: 0; /* Reset margin */
      display: flex;
      justify-content: flex-start;
      float: left;
      padding-right: 1em;
    }
}


main li {
    display: flex;
    list-style-type: none;
    border-bottom: solid;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    font-size: 30px;
    font-weight: bold;
  }

 main li span{
    color: #FF8591;;
  }
  
main ul{
    padding-left: 40em;
  }

  .btn{ 
    display: block;
    padding: 2px 2px; 
    margin-top: 2em;
    margin-left: 22%;
    float: left;
    background-color: #000000; 
    color: white;
    text-decoration: none;
    border-radius: 20px;
    width: 13%;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
  }

/*Vores projekter*/

.row{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin: 1%;
  padding-right: 6%;
}
.frame-left{
  padding-right: 2%;
}
.frame-right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 33.33%;
}

@media only screen and (max-width: 425px){
  .outer{flex-direction:column!important;}}

/*Laer vores stjerneteam*/

.team{
  padding-bottom: 10%;
}

.team h4{
  padding-top: 0;
  padding-bottom: 1%;
  font-size: 48px;
}
.team p{
  font-size: 22px;
  font-weight: 200;
  padding-right: 50%;
  padding-top: 6px;
  hyphens: auto;
}
.quote2{
  float: right;
  padding-top: 10%;
  padding-left: 5%;
  width: 50%;
  font-size: 40px;
  font-style: italic;
}


/*Kontaktformular*/

.lad-os-tale h5{
  text-align: center;
  padding-right: 100px;
  font-size: 48px;
  font-weight: 700;
}
.lad-os-tale p{
  text-align: left;
  padding-left: 260px;
  padding-right: 260px;
  padding-top: 1%;
  font-size: 22px;
  font-weight: 200;

}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  font-size: 24px;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  box-shadow: inset;
  box-shadow: 1px 1px rgba(20,20,20,0.4);
  margin-top: 8px; /* Add a top margin */
  margin-bottom: 10px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style send-knappen*/
input[type=submit] {
  float: right;
  background-color: #FF8591;
  color: black;
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 26px;
}

/* Style send-knappen hover */
input[type=submit]:hover {
  color: #FFFEFC;
  background-color: #FF8591;
}

/* Add a background color and some padding around the form */
.container {
  display: flex;
  justify-content: center; 
  width: 75%;
  padding-left: 18%;
  padding-bottom: 8%;
  padding-top: 1%;
}


/*Vores projekter galleri side*/

.projektgalleri{
  text-align: center;
}

.projektgalleri h2{
  font-style: normal;
  font font-weight: 200px;
  text-align: left;
}

.mainprojekt{
  display: flex;
  width: 1506px;
  height: 585px;
  width: 100%;
}



/*Footer*/
.side-footer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  background-color: #FF8591;
}

.side-footer h6{
  font-size: 30px;
  padding-bottom: 2%;
  padding-top: 2%;
}
.side-footer p{
  font-size: 24px;
  font-weight: 300;
}

.logo-hvid{
  padding-top: 10%;
}


/*Responsive indstillinger*/


.side-footer>* {
	flex: 0 0 33.333%;
	/* Setting a minimum size will 
	ensure that they content wraps on
	smaller screens */
	min-width: 300px;
	/* Rest is for pure display */
	text-align: center;
}

  
  
/* Navigation */

@media only screen and (max-width: 2500px) {
    .menu {
      flex-direction: column;
      background-color: #FF8591;
      align-items: center;
      opacity: 95%;
      position: absolute;
      top: 66px;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 1;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      list-style: none;
    }
  
    .menu a {
      margin-left: 12px;
      font-size: 28px;
      align-items: center;
    }
   
    .menu li {
      margin-bottom: 10px;
      align-items: center;
    }
  
    .menu-icon {
      display: block;
      color: black;
      font-size: 28px;
      cursor: pointer;
    }
    
  }



@media only screen and (max-width: 700px) {
    .quote {
        font-size: 13px;

    }

    ul{
      padding-left: 3em;
    }

    .quote-box{
      padding-left: 4em;
      width: 42vh;
      height: 20vw;
      padding-top: 30em;
      margin-bottom: 20em;
    }

    .quote{
      font-size: 40px;
    }

    .stjerneskud{
      right: -10%;
      top: 320%;
    }

    .stor-animation{
      width: 120vw;
      height: 50vh;

    }

    .logo-skrift{
      padding-left: 2em;
    }

    .vi-tilbyder-img{
      position: relative;
      top: auto;
      left: auto;
      width: 94vw;
      height: 40vh;
    }

    .fa-sharp{
      padding-left: 1em;
      }
      
      .fa-sharpo{
        padding-left: 2em;
      }
      
      .fa-sharph{
        padding-left: 3.8em;
      }
      
      .fa-sharpm{
        padding-left: 1.8em;
      }
      
    main ul{
        padding-left: 2em;
      }
    
h3 p{
padding-left: 1px;
padding-right: 1px;
margin-left: 1em;
}

.btn{
  padding: 2px; 
  width: 40vw;
  margin-left: 1em;
  margin-top: 2em;
}

}

/*om os side*/
.om-os-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

