/*For-indstillinger*/
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit';
    text-decoration: none;
    list-style: none;
}

img {
    max-width: 100%;
}

body{
    background: #FDFAF1;
}

/*Fonts og skriftstr.*/

h1{
margin-left: 2em;
padding-top: 8em;
padding-bottom: 8em;
}
h2{
    font-size: 25px; 
    font-style: italic;
    padding-top: 3em;
    padding-left: 2em;
}

.quote{
  font-size: 40px;
  font-style: italic;

}

.quote-box{
  padding-left: 20em;
  width: 100vh;
  height: 20vw;
  padding-top: 30em;
  padding-bottom: 39em;
}

/*Navigation*/

.header {
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
  }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-weight: 700;
}

.logo{

  
}

.menu {
    display: flex;
  }
  .menu a {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 700;
    transition: 0.2s all ease-in-out;
    color: black;
  }
  
  .menu a:hover {
    opacity: 1;
    color: #fff;
  }

  .menu-icon:hover{
    color: #FF8591;
  }

  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked ~ .menu {
    transform: scale(1, 1);
  }


/*Forside main*/

.stor-animation{
    display: flex;
    width: 1400px;
    height: 700px;
    align-items: center;
    justify-content: center;
    padding-left: 2.5em;
}

.quote{
    font-size: 20px;
    font-style: italic;
    padding-right: 50em;
    padding-top: 2em;
    padding-left: 2em;
}

li {
    display: flex;
    list-style-type: none;
    border-bottom: solid;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    font-size: 30px;
    font-weight: bold;
  }

  li span{
    color: #FF8591;;
  }

  ul{
    padding-left: 50em;
  }


/*Kontaktformular*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style send-knappen*/
  input[type=submit] {
    background-color: #FF8591;
    color: black;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 26px;
  }
  
  /* Style send-knappen hover */
  input[type=submit]:hover {
    color: #FFFEFC;
    background-color: #FF8591;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #fff;
  
  }
  
  
/* Navigation */

@media only screen and (max-width: 2500px) {
    .menu {
      flex-direction: column;
      background-color: #FF8591;
      align-items: center;
      opacity: 95%;
      position: absolute;
      top: 66px;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 1;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
    }
  
    .menu a {
      margin-left: 12px;
      font-size: 28px;
      align-items: center;
    }
   
    .menu li {
      margin-bottom: 10px;
      align-items: center;
    }
  
    .menu-icon {
      display: block;
      color: black;
      font-size: 28px;
      cursor: pointer;
    }
    
  }


/*
@keyframes move{
    {background-position: center 0;
} to {background-position: center 200%;}
}
*/


@media only screen and (max-width: 700px) {
    .quote {
        font-size: 13px;

    }

    ul{
      padding-left: 3em;
    }

    .quote-box{
      padding-left: 4em;
      width: 42vh;
      height: 20vw;
      padding-top: 5em;
      margin-bottom: 5em;
    }

    .quote{
      font-size: 40px;
    }

    .stjerneskud{
      right: -10%;
      top: 265%;
    }

    .stor-animation{
      width: 120vw;
      height: 50vh;
      padding-left: 2em;
    }

    .logo-skrift{
      padding-left: 2em;
    }

    .vi-tilbyder-img{
      position: relative;
      top: auto;
      left: auto;
      width: 94vw;
      height: 40vh;
    }

    .fa-sharp{
      padding-left: 1em;
      }
      
      .fa-sharpo{
        padding-left: 2em;
      }
      
      .fa-sharph{
        padding-left: 3.8em;
      }
      
      .fa-sharpm{
        padding-left: 1.8em;
      }

}

