/*For-indstillinger*/
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit';
    text-decoration: none;

}

img {
    max-width: 100%;
}

body{
    background: #FFFFFF;
}

/*Fonts og skriftstr.*/

h1{
  font-family:sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

h2{
    font-size: 36px; 
    font-style: normal;
    font-weight: bold;
    padding-top: 3em;
    padding-left: 2em;
}

h3{
  font-size: 36px;
text-align: center;
font-weight: bold;

}

h3 p{
font-weight: lighter;
line-height: 2;
  font-size: 18px;
  padding-left: 25em;
  padding-right: 25em;
  text-align: left;
  padding-top: 2em;
}

h4{
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  padding-left: 2em;
  padding-top: 10em;
}

h5{
  font-style: normal;
  font-size: 36px;
}

p{
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}

.vores-projekter{
  padding-top: 15em;
}

.hvem-er-vi-tekst{
  width: 50vw;
  padding-left: 2em;
  padding-top: 2em;
}

/*Navigation*/

.header {
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
  }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-weight: 700;
}

/*Logo*/

.logo-container{
  display: flex;
  justify-content:center;
  align-items: center;
}

/*Menu*/
.menu {
    display: flex;
  }
  .menu a {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 700;
    transition: 0.2s all ease-in-out;
    color: black;
  }
  
  .menu a:hover {
    opacity: 1;
    color: #fff;
  }

  .menu-icon:hover{
    color: #FF8591;
  }

  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked ~ .menu {
    transform: scale(1, 1);
  }


/*Forside main*/

/*Sektion ''Forside animaton*/

.stor-animation{
    display: flex;
    width: 98vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
    padding-left: 2.5em;
}

.stor-animation h1{
  padding-top: 8em;
  padding-bottom: 8em;
}

/*Sektion ''Vi tilbyder''*/
.vitilbyder{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.vi-tilbyder-img{
  width: 40%;
  max-width: 40%;
  margin-left: 2em;
  height: 23em;
}

/* EXPAND */
input[type="checkbox"] {
  display: none;
}

/* Style the label as the list item */
main li {
  list-style: none;
  margin-bottom: 10px;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  object-fit: cover;
}

main label::before {
  content: '+';
  margin-left: 0; /* Reset margin */
  display: flex;
  justify-content: flex-start;
  float: right;
  padding-right: 1em;
  color: #000000;
}

/* Hide the content by default */
.expand-content {
  display: none;
}

/* Show the content when the checkbox is checked */
input:checked + label + .expand-content {
  display: block;
}

.tekst-box-expand{
  padding-left: 3em;
}

main li p{
  font-size: 20px;
  font-weight: 100;
}

main li {
    display: flex;
    list-style-type: none;
    border-bottom: solid;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    font-size: 30px;
    font-weight: bold;
  }

 main li span{
    color: #FF8591;;
  }
  
main ul{
  height: auto;
  width: 55%;
}

  .btn{ 
    display: block;
    padding: 2px 2px; 
    margin-top: 2em;
    margin-left: 25%;
    float: left;
    background-color: #000000; 
    color: white;
    text-decoration: none;
    border-radius: 20px;
    width: 13%;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
  }
/* Style the label text and add the plus sign */
main label {
  display: block;
  cursor: pointer;
  flex: none;
  color: #FF8591;
/*
  text-shadow: -0.5px -0.5px 0 #6E0E0E, 0.5px -0.5px 0 #6E0E0E, -0.5px 0.5px 0 #6E0E0E, 0.5px 0.5px 0 #6E0E0E /* Add a stroke effect 
  */
}


/*Quote i stjernehimmel*/
.space-peak{
  display: flex;
  justify-content: center;
  padding-top: 5em;
  padding-bottom: 5em;
}


/*Sektion ''Vores projekter''*/

.row{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding-right: 6%;
  padding-bottom: 7%;
  padding-top: 2%;
}
.frame-left{
  padding-right: 2%;
}
.frame-right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 33.33%;
}

@media only screen and (max-width: 425px){
  .outer{flex-direction:column!important;}}

/*Sektion ''Laer vores stjerneteam at kende''*/

.team{
  padding-bottom: 10%;
}

.team h4{
  padding-top: 0;
  padding-bottom: 1%;
}
.team p{
  padding-right: 50%;
  padding-top: 6px;
  padding-bottom: 1%;
  hyphens: auto;
}
.btn2{
  border-radius: 20px;
  padding: 5px 20px;
  background-color: #000000;
  color: white;
  font-size: 20px;
}

.quote2{
  float: right;
  padding-top: 10%;
  padding-left: 5%;
  width: 50%;
  font-size: 40px;
  font-style: italic;
  font-weight: 200;
}


/*Kontaktformular*/


.lad-os-tale h5{
  text-align: center;
  font-weight: 700;
}
.lad-os-tale p{
  text-align: left;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 1%;
  font-weight: 200;
  hyphens: auto;
}


/* Style inputs m. type="text",*/
input[type=text], select, textarea {
  font-size: 18px;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  box-shadow: inset;
  box-shadow: 1px 1px rgba(20,20,20,0.4);
  margin-top: 8px; /* Add a top margin */
  margin-bottom: 10px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style send-knappen*/
input[type=submit] {
  float: right;
  background-color: #FF8591;
  color: black;
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 22px;
}

/* Style send-knappen hover */
input[type=submit]:hover {
  color: #FFFEFC;
  background-color: #FF8591;
}

/* Kontaktformular container */
.container {
  display: flex;
  justify-content: center; 
  width: 75%;
  padding-left: 25%;
  padding-bottom: 8%;
  padding-top: 1em;
}


/*Vores projekter galleri side*/

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}
/*Elementerne internt*/

.item {
  position: relative;
  font-size: 22px;
  font-weight: 200;
}

.item img {
  width: 100%;
  height: auto;
  display: block;
}



/*Projekt 1*/
.item.large {
  grid-column: span 12;
  padding-top: 3%;
  padding-bottom: 10%;
}
/*Projekt 2*/
.item:nth-child(2){
  grid-row: span 14;
  grid-column: span 5;
  height: 100%;
  align-self: center;
  padding-left: 20%;
}
.item:nth-child(2) img {
  height: 100%;
  object-fit: cover;
}

/*Projekt 3*/
.item:nth-child(3){
  grid-row: span 4;
}
.item:nth-child(3),
.item:nth-child(4){
  grid-column: span 6; /* Sætter antallet af kolonner til at være 6 */
  height: 100%;
  align-self: center; /* Centrerer lodret */
  margin-left: 8%;
}

/*Projekt 4*/
.item:nth-child(4) {
  grid-row: span 10;
}

.item:nth-child(4) img {
  height: 600px;
  object-fit: cover;
}
/*Projekt 5*/
.item.stacked:nth-child(5) {
  grid-column: auto / span 12; /* Spænder over alle 12 kolonner */
  height: 400px;
  justify-self: center;
  margin-top: 10%;
}

.item.stacked:nth-child(5) img{
  height: 100%;
  object-fit: cover;
}

/*Projekt 6*/
.item.stacked:nth-child(6){
  grid-column: auto/ span 12;
  height: 600px;
  justify-self: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.item.stacked:nth-child(6) img{
  object-fit: cover;
  height: 100%;
}
  
/*Om os side*/

/*fonter og tekst*/
.om-os-grid p{
  padding-left: 2em;
}

.om-os-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* EXBAND på OM OS */
.om-os-grid li {
  margin-bottom: 10px;
  list-style: none;
  border-bottom: solid;
}

.om-os-grid ul{
  margin-top: 4em;
}

.om-os-grid input[type="checkbox"] {
  display: none; 
}

.om-os-grid label {
  cursor: pointer;
  color: #FF8591;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.om-os-grid label::before {
  content: '+';
  margin-right: 5px;
  font-weight: bold;
  color: #000000;
}

.om-os-grid .expand-content {
  display: none;
  padding-left: 25px; /* Adjust as needed */
}

.om-os-grid input:checked + label + .expand-content {
  display: block;
}

.om-os-grid li p {
  font-size: 20px;
  font-weight: 100;
}



/*Footer*/
.side-footer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  background-color: #FF8591;
}

.side-footer h6{
  font-size: 30px;
  padding-bottom: 2%;
  padding-top: 2%;
}
.side-footer p{
  font-size: 24px;
  font-weight: 300;
}

.logo-hvid{
  padding-top: 10%;
}


/*Responsive indstillinger*/

/*RESPONSIV Footer*/
.side-footer>* {
	flex: 0 0 33.333%;
	/* Setting a minimum size will 
	ensure that they content wraps on
	smaller screens */
	min-width: 300px;
	/* Rest is for pure display */
	text-align: center;
}

  
  
/*RESPONSIV Navigation*/
@media only screen and (max-width: 2500px) {
    .menu {
      flex-direction: column;
      background-color: #FF8591;
      align-items: center;
      opacity: 95%;
      position: absolute;
      top: 66px;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 1;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      list-style: none;
    }
  
    .menu a {
      margin-left: 12px;
      font-size: 28px;
      align-items: center;
    }
   
    .menu li {
      margin-bottom: 10px;
      align-items: center;
    }
  
    .menu-icon {
      display: block;
      color: black;
      font-size: 28px;
      cursor: pointer;
    }
    
  }

/*RESPONSIV Vi tilbyder*/
/* Media query for smaller screens */
@media (max-width: 767px) {
  /* Stack content underneath the label on smaller screens */
 main li {
    flex-direction: column;
  }

  /* Reset styles for labels and plus signs */
 main label {
    flex: none;
  }

 main label::before { 
      content: '+';
      margin-left: 0; /* Reset margin */
      display: flex;
      justify-content: flex-start;
      float: right;
      padding-right: 1em;
    }
  .vitilbyder{
    flex-direction: column;
  }
  .vitilbyder img{
    width: 100%;
  }
}
  


/*Quote*/
@media only screen and (max-width: 700px) {
    .quote {
        font-size: 13px;

    }

    ul{
      padding-left: 3em;
    }

    .quote-box{
      padding-left: 4em;
      width: 42vh;
      height: 20vw;
      padding-top: 30em;
      margin-bottom: 20em;
    }

    .quote{
      font-size: 40px;
    }

    .stjerneskud{
      right: -10%;
      top: 320%;
    }

    .stor-animation{
      width: 120vw;
      height: 50vh;

    }

    .logo-skrift{
      padding-left: 2em;
    }

    .vi-tilbyder-img{
      top: auto;
      margin-left: 0;
      width: 100%;
      height: 40vh;
    }

    .fa-sharp{
      padding-left: 1em;
      }
      
      .fa-sharpo{
        padding-left: 2em;
      }
      
      .fa-sharph{
        padding-left: 3.8em;
      }
      
      .fa-sharpm{
        padding-left: 1.8em;
      }
      
    main ul{
        padding-left: 2em;
      }
    
h3 p{
padding-left: 1px;
padding-right: 1px;
margin-left: 1em;
}

.btn{
  padding: 2px; 
  width: 40vw;
  margin-left: 1em;
  margin-top: 2em;
}

}

/*Om os side RESPONSIV*/

/* Media query for mindre skærme */
@media (max-width: 767px) {
  .om-os-grid li {
    flex-direction: column;
  }

  .om-os-grid label::before {
    content: '+';
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    float: left;
    padding-right: 1em;
    font-weight: bold;
  }
}

/* Billeder af teamet med tekst; styling */

.team-gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 2em;
  gap: 20px;
  row-gap: 100px;
}


.team-member {
  gap: 10px; 
  position:relative;
}

.team-member img {
  height: auto;
  object-fit: cover;
}

.team-member p {
  text-align: left;
  margin-top: 10px;
  padding-left: 2em;
  padding-right: 7em;
}

.member-name{
font-weight: bold;
font-size: 20px;
}



.quote-2{
  font-size: 35px;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
  width: 50vw;
  margin-left: auto;
  margin-bottom: 5em;
  margin-top: 5em;
}

/* Media queries for OM OS side */
@media only screen and (max-width: 800px){
  .team-gallery{
      grid-template-columns: 1fr;
      padding-left: 2em;
  }

  .team-gallery{
      grid-template-columns: 99%;
  }

  .team-member p{
    padding: 0.1em;
  }  

  .team-member{
    grid-template-columns: 1fr; 
  }

  .member-name{
position: static;
    }

  .om-os-grid{
    grid-template-columns: 1fr;
  }

}

/*PROJEKT GALLERI RESPONSIV*/
/* Små skærme */
@media only screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr); /* Ændrer til én kolonne på små skærme */
    gap: 40px;
  }

  .item.large {
    grid-column: span 1; /* Spænder over én kolonne */
    padding-top: 5%;
    padding-bottom: 8%;
  }

  .item:nth-child(2){
    margin: 0;
    padding: 0;
  }

  .item:nth-child(2),
  .item:nth-child(3),
  .item:nth-child(4) {
    grid-column: span 1; /* Spænder over én kolonne */
    grid-row: auto; /* Fjerner tidligere grid-row spans */
    margin-left: 0; /* Fjerner venstre margin */
    margin-right: 0; /* Fjerner højre margin */
  }

  .item.stacked:nth-child(5),
  .item.stacked:nth-child(6) {
    grid-column: span 1; /* Spænder over én kolonne */
    margin-top: 20px; /* Tilføjer mellemrum mellem billede 5/6 og de andre */
    margin-bottom: 20px; /* Tilføjer mellemrum mellem billede 5/6 og de andre */
  }
}