@use 'partial';

/*For-indstillinger*/
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit';
    text-decoration: none;

}

img {
    max-width: 100%;
}

body{
  background-color: partial.$bg-color;
}

/*Fonts og skriftstr.*/

h1{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 30px; 
    padding: 5em;
  }
  
  
  h2{
      font-size: 36px; 
      font-style: normal;
      font-weight: bold;
      padding-top: 3em;
      padding-left: 2em;
  }
  
  h3{
    font-size: 36px;
  text-align: center;
  font-weight: bold;
  
  }
  
  
  h4{
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    padding-left: 1em;
    padding-top: 10em;
  }
  
  h5{
    font-style: normal;
    font-size: 36px;
  }
  
  p{
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
  }

  /*Sektion ''Vores projekter''*/
.vores-projekter{
    padding-top: 15em;
  }
  /*Sektion ''Om os''*/
  .hvem-er-vi-tekst{
    width: 50vw;
    padding-left: 2em;
    padding-top: 2em;
  }

  /*Navigation*/

.header {
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}

nav{
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  font-weight: 700;
  z-index: 1000;
}

/*Logo*/

.logo-container{
display: flex;
justify-content:center;
align-items: center;
}

/*Menu*/
.menu {
  display: flex;
}
.menu a {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 700;
  transition: 0.2s all ease-in-out;
  color: black;
}

.menu a:hover {
  opacity: 1;
  color: #fff;
}

.menu-icon:hover{
  color: #FF8591;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}


/*Forside main*/

main{
padding-top: 5%;
}

/*Sektion ''Forside animaton''*/

.stor-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100vw; /* Begrænser bredden til skærmens bredde */
  max-height: 100vh; /* Begrænser højden til skærmens højde */
  overflow: hidden; /* Skjuler eventuelt indhold, der er større end skærmen */
  margin-top: 10%;
}

.stor-animation-img,
.stor-animation video {
  max-width: 80%;
  max-height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrerer elementet */
}

.stor-animation video {
  display: none;
}

.stor-animation:hover .stor-animation-img {
  filter: grayscale(100%) brightness(50%);
  cursor: pointer;
}

.stor-animation h1{
padding-top: 8em;
padding-bottom: 8em;
}


/*Sektion ''Vi tilbyder''*/
.vitilbyder{
display: flex;
flex-wrap: wrap;
width: 100%;
}

.vi-tilbyder-img{
width: 40%;
max-width: 40%;
margin-left: 4em;
height: 23em;
}

/* Vi tilbyder liste og EXPAND */
input[type="checkbox"] {
display: none;
}

main li {
list-style: none;
margin-bottom: 10px;
margin-left: 5%;
display: flex;
justify-content: space-between;
flex-direction: column;
object-fit: cover;
}

main label::before {
content: '+';
margin-left: 0; 
display: flex;
justify-content: flex-start;
float: right;
padding-right: 1em;
color: #000000;
}


.expand-content {
display: none;
}


input:checked + label + .expand-content {
display: block;
}

.tekst-box-expand{
padding-left: 3em;
}

main li p{
font-size: 20px;
font-weight: 100;
}

main li {
  display: flex;
  list-style-type: none;
  border-bottom: solid;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  font-size: 30px;
  font-weight: bold;
}

main li span{
  color: partial.$primary-color;
}

main ul{
height: auto;
width: 55%;
}

.btn{ 
  @include partial.btn
}

/* Style the label text and add the plus sign */
main label {
display: block;
cursor: pointer;
flex: none;
color: partial.$primary-color;
}
/*pakke*/

.projekt-h2{
  padding-top: 11em;
}

.pakke{
padding-bottom: 6%;
padding-top: 3%;
background-color: partial.$secondary-color;

  p{font-weight: lighter;
    line-height: 2;
    font-size: 18px;
    padding-left: 25em;
    padding-right: 25em;
    text-align: left;
    padding-top: 2em;
}

}



/*Quote i stjernehimmel*/
.space-peak {
display: flex;
justify-content: center;
align-items: center;
padding-top: 5em;
padding-bottom: 5em;
}

.space-peak img,
.space-peak video {
max-width: 100%;
display: block; 
}

.space-peak video {
display: none; 
}

.space-peak img:hover {
transform: scale(1.0); 
transition: transform 0.7s ease; 
cursor: pointer;
filter: grayscale(100%) brightness(50%); 
}

.space-peak img {
max-width: 100%; 
display: block;
transition: filter 0.3s ease; 
}






/*Sektion ''Vores projekter''*/

.projekter-gallery{
display: flex;
width: 100%;
flex-direction: row;
justify-content: center;
padding-top: 1em;
padding-left: 1em;


.fullimg{
  height: 750px;
  width: 500px;

}

.smallimg{
  height: 370px;
  width: 350px;
  row-gap: 0%;
}


}

.frame-left{
padding-right: 1em;
}
.frame-right{
display: flex;
flex-direction: column;
justify-content: space-around;
width: 33.33%;
row-gap: 1em;
}

.btn3{
  @include partial.btn;

}

@media only screen and (max-width: 425px){
.outer{flex-direction:column!important;}}

/*Sektion ''Laer vores stjerneteam at kende''*/

.team{
padding-top: 10%;
  img{
    padding: 0;
  }
  h2{
    padding-top: 0;
  }
  p{
    padding-bottom: 1%;
  }
}
.quote1{
  float: right;
  padding-right: 10%;

  p{
    font-size: 38px;
    font-style: italic;
  }
}

.btn2{
  @include partial.btn2
}




/*Kontaktformular*/

.lad-os-tale{
  margin-top: 3em;
}

.lad-os-tale h5{
text-align: center;
font-weight: 700;
}
.lad-os-tale p{
text-align: left;
padding-left: 25%;
padding-right: 25%;
padding-top: 1%;
font-weight: 200;
hyphens: auto;
}


/* Style inputs m. type="text",*/
input[type=text], select, textarea {
font-size: 18px;
width: 100%; 
padding: 12px;  
border: 1px solid; 
border-radius: 4px; 
box-sizing: border-box; 
box-shadow: inset;
box-shadow: 1px 1px rgba(20,20,20,0.4);
margin-top: 8px; 
margin-bottom: 10px; 
resize: vertical 
}

/* Style send-knappen*/
input[type=submit] {
float: right;
background-color: #FF8591;
color: black;
padding: 12px 40px;
border: none;
border-radius: 4px;
cursor: pointer;
font-weight: 700;
font-size: 22px;
}

/* Style send-knappen hover */
input[type=submit]:hover {
color: #FFFEFC;
background-color: partial.$primary-color;
}

/* Kontaktformular container */
.container {
display: flex;
justify-content: center; 
width: 75%;
padding-left: 25%;
padding-bottom: 8%;
padding-top: 1em;
}


/***** Vores projekter side*/

.vores-projekter-h2{
  padding-bottom: 8em;
}

.trans-bg{
  grid-column: 1/7;
  background: linear-gradient(rgba(142, 142, 142, 0.8), rgba(142, 142, 142, 0.8)), url(../img/bg-voresprojekter.png);
  background-size: cover;
}

.gallery {
display: grid;
grid-template-columns: repeat(12, 1fr);
gap: 20px;
margin-top: 10em;
}

.quote-om-os{
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
  width: 50vw;
  height: 50vh;
  margin-left: auto;
  margin-bottom: 5em;
  margin-top: 5em;
  }
  
  .quote-om-os p{
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
  }
/*Elementerne internt*/

.item {
position: relative;
font-size: 22px;
font-weight: 200;
}

.item img {
width: 100%;
height: auto;
display: block;
}

.lang-animation{
  width: 90vw;
  height: 90vh;
  margin-left: 2.5em;
}

/*Projekt 1*/
.item.large {
grid-column: span 12;
padding-top: 3%;
padding-bottom: 10%;
}
/*Projekt 2*/
.item:nth-child(2){
grid-row: span 14;
grid-column: span 5;
align-self: center;
padding-left: 20%;
}
.item:nth-child(2) img {
object-fit: cover;
height: 450;
width: 300;
}

/*Projekt 3*/
.item:nth-child(3){
grid-row: span 4;
}
.item:nth-child(3),
.item:nth-child(4){
grid-column: span 6; /* Sætter antallet af kolonner til at være 6 */
height: 100%;
align-self: center; /* Centrerer lodret */
}

/*Projekt 4*/
.item:nth-child(4) {
grid-row: span 10;
}

.item:nth-child(4) img {
height: 360px;
width: 360px;
object-fit: cover;
}
/*Projekt 5*/
.item.stacked:nth-child(5) {
grid-column: auto / span 12; /* Spænder over alle 12 kolonner */
height: 700px;
justify-self: center;
margin-top: 10%;
margin-bottom: 7em;
padding-bottom: 5em;
}

.item.stacked:nth-child(5) img{
height: 100%;
object-fit: cover;
}

/*Projekt 6*/
.item.stacked:nth-child(6){
grid-column: auto/ span 12;
height: 600px;
justify-self: center;
margin-top: 10%;
margin-bottom: 10%;
}
.item.stacked:nth-child(6) img{
object-fit: cover;
height: 100%;
}



/*Om os side*/

/*fonter og tekst*/

.om-os-baggrund{
background-color: partial.$secondary-color;
}

.om-os-grid p{
padding-left: 2em;
}

.om-os-grid{
display: grid;
grid-template-columns: 1fr 1fr;
}

/* EXBAND på OM OS */
.om-os-grid li {
margin-bottom: 10px;
list-style: none;
border-bottom: solid;
}

.om-os-grid ul{
margin-top: 4em;
}

.om-os-grid input[type="checkbox"] {
display: none; 
}

.om-os-grid label {
cursor: pointer;
color: #FF8591;
display: flex;
align-items: center;
font-size: 30px;
font-weight: bold;
}

.om-os-grid label::before {
content: '+';
margin-right: 5px;
font-weight: bold;
color: #000000;
float: right;
}

.om-os-grid .expand-content {
display: none;
padding-left: 25px; /* Adjust as needed */
}

.om-os-grid input:checked + label + .expand-content {
display: block;
}

.om-os-grid li p {
font-size: 20px;
font-weight: 100;
}

/* Billeder af teamet med tekst; styling */

.team-gallery{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
margin-top: 2em;
gap: 20px;
row-gap: 100px;
margin-left: 2em;
margin-bottom: 3em;
}


.team-member {
gap: 10px; 
position:relative;
}

.team-member img {
height: auto;
object-fit: cover;
width: 350px;
height: 330px;
}

.team-member p {
text-align: left;
margin-top: 10px;
padding-left: 2em;
padding-right: 7em;
}

.member-name{
font-weight: bold;
font-size: 20px;
}


/*Footer*/

.side-footer {
display: flex;
justify-content: space-around;
align-content: center;
flex-wrap: wrap;
background-color: partial.$footer-color;

article{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}


h6{ 
  font-size: 28px;
  padding-bottom: 2%;
  padding-top: 2%;
  text-align: center;
}

p{
  font-size: 24px;
  font-weight: 300;
  }
}
.logo-hvid{
  display: flex;
  padding-top: 20%;
  max-width: 100%;
  justify-content: center;
  
}



/*************** Responsive indstillinger *****************/

/*Navigation*/
@media only screen and (max-width: 2500px) {
  .menu {
    flex-direction: column;
    background-color: partial.$primary-color;
    align-items: center;
    opacity: 95%;
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    list-style: none;
  }

  .menu a {
    margin-left: 12px;
    font-size: 28px;
    align-items: center;
  }
 
  .menu li {
    margin-bottom: 10px;
    align-items: center;
  }

  .menu-icon {
    display: block;
    color: black;
    font-size: 28px;
    cursor: pointer;
  }
}



/* mød vores team og skræddersy */
@media only screen and (max-width:1675px) {
.team{
  width: 100%;
  padding: 0;
}

.team img{
  width: 70%;
}
.team p{
  width: 100%;
  padding: 0;
  padding-bottom: 2%;
}

.pakke{
  width: 100%;
}
.pakke p{
  width: 100%;
  padding: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 5%;
  padding-left: 5%;

}
.lad-os-tale{
  padding-top: 8%;
  width: 100%;
}


}
/* Media query for mindre skærme #generelt# */

/* Sektion ''Forside animation'' */
@media (max-width: 767px) {
main{
padding-top: 15%;
}

main li {
  flex-direction: column;
}

main label {
  flex: none;
}

main label::before { 
    content: '+';
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    float: right;
    padding-right: 1em;
  }

.stor-animation{
height: 40vh;
width: 100%;
margin-left: 0.5em;
  .stor-animation-video{
    height: 26vh;
    width: 100%;
    margin-left: 0em;
    }
}

h1{
  font-size: 24px;
  padding: 1em;
}
p{
  font-size: 14px;
}

.vitilbyder{
  width: 100%;
  max-width: 100%;
  flex-direction: column;
}

.vi-tilbyder-img{
  max-width: 100%;
  width: 100%;
  top: auto;
  margin-left: 10px;
  width: 100%;
  height: 40vh;
}

.btn3{
  width: 45%;
}

.space-peak{
  margin-left: 10px;
}

main ul{
  width: 100%;
  max-width: 100%;
  margin-top: 2em;
}

.lad-os-tale{
  margin-top: 10%;
  width: 100%;
}

.projekter-gallery{
  display: flex;
  width: 100%;

  .fullimg{
    height: 350px;
    width: 100%;
    padding-top: 5px;
  }
  
  .smallimg{
    height: auto;
    width: 100%;
  }

}

.frame-left,
.frame-right{
  width: 100%;
  padding: 0;
  margin: 0;
  row-gap: 0em;
  justify-content: center ;
}

.vores-projekter-h2{
  padding-bottom: 2em;
  padding-left: 4px;
}

}



/*Quote responsiv*/
@media only screen and (max-width: 700px) {

  ul{
    padding-left: 3em;
  }

  .stjerneskud{
    right: -10%;
    top: 320%;
  }


  .logo-skrift{
    padding-left: 2em;
  }

  .fa-sharp{
    padding-left: 1em;
    }
    
    .fa-sharpo{
      padding-left: 2em;
    }
    
    .fa-sharph{
      padding-left: 3.8em;
    }
    
    .fa-sharpm{
      padding-left: 1.8em;
    }
    
  main ul{
      padding-left: 2em;
    }
  
h3 p{
padding-left: 1px;
padding-right: 1px;
margin-left: 1em;
}

.btn{
padding: 2px; 
width: 40vw;
margin-left: 1em;
margin-top: 2em;
}

}

/*Om os side RESPONSIV*/
@media (max-width: 767px) {

  .om-os-grid p{
    padding-left: 0.5em;
    }

.om-os-grid li {
  flex-direction: column;
  padding-left: 0.5em;
}

.om-os-grid ul{
  padding-left: 0em;
}

.om-os-grid label::before {
  content: '+';
  margin-left: 0;
  display: flex;
  justify-content: flex-start;
  float: left;
  padding-right: 1em;
  font-weight: bold;
}

.quote-om-os{
  width: 27vw;
  height: 20vh;
}

}


/* Media queries for MØD TEAMET - OM OS side */
@media only screen and (max-width: 800px){
.team-gallery{
    grid-template-columns: 1fr;
    margin-left: 0%;
    padding-left: 1em;

}

.team-gallery{
    grid-template-columns: 99%;
}

.team-member p{
  padding: 0.1em;
}  

.team-member{
  grid-template-columns: 1fr; 
}

.member-name{
position: static;
  }

.om-os-grid{
  grid-template-columns: 1fr;
}

}

/*PROJEKT GALLERI RESPONSIV*/
/* Små skærme */
@media only screen and (max-width: 600px) {
.gallery {
  gap: 40px;
  text-align: center;
  align-items: center;
  grid-template-columns: 1fr;
}


.lang-animation {
  width: 87vw;
  height: 24vh;
  margin-left: 0em;

.item.large {
  grid-column: span 1; 
  padding-top: 5%;
  padding-bottom: 8%;
}

.item:nth-child(2){
  margin: 0;
  padding: 0;
}

.item:nth-child(2),
.item:nth-child(3),
.item:nth-child(4) {
  grid-column: span 1; /* Spænder over én kolonne */
  grid-row: auto; /* Fjerner tidligere grid-row spans */
  margin-right: 0; /* Fjerner højre margin */
}

.item.stacked:nth-child(5),
.item.stacked:nth-child(6) {
  grid-column: span 1; /* Spænder over én kolonne */
  margin-top: 20px; /* Tilføjer mellemrum mellem billede 5/6 og de andre */
  margin-bottom: 20px; /* Tilføjer mellemrum mellem billede 5/6 og de andre */
}


/*Footer*/
.side-footer>* {
flex: 0 0 33.333%;
/* Setting a minimum size will 
ensure that they content wraps on
smaller screens */
width: 100%;
/* Rest is for pure display */

flex-direction: column;
text-align: center;
}

footer{
  flex-direction: column;
}

.logo-hvid{
  max-width: 100%;
  padding-left: 0%;
}

}

}
